pipeline/copy_data_pl.json
{
	"name": "copy_data_pl",
	"properties": {
		"description": "Pipeline for copying the data!",
		"activities": [
			{
				"name": "Check if file exists",
				"description": "Checking of file exists as a parameter for validation!",
				"type": "Validation",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "popultaion_by_age_gz_ds",
						"type": "DatasetReference"
					},
					"timeout": "0.00:05:00",
					"sleep": 10,
					"minimumSize": 1024
				}
			},
			{
				"name": "Get file Metadata",
				"description": "To get metadata for validation",
				"type": "GetMetadata",
				"dependsOn": [
					{
						"activity": "Check if file exists",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.00:02:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "popultaion_by_age_gz_ds",
						"type": "DatasetReference"
					},
					"fieldList": [
						"columnCount",
						"size",
						"exists"
					],
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "If Column count matches",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Get file Metadata",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@equals(activity('Get file Metadata').output.columnCount,13)",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "Send email",
							"type": "WebActivity",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"url": "https://mail.google.com/mail/u/0/#inbox",
								"method": "POST",
								"headers": {
									"Mrutyunjay Acharya": "macharya059@gmail.com"
								},
								"body": "Dummy mail"
							}
						}
					],
					"ifTrueActivities": [
						{
							"name": "Copy population data_copy1",
							"description": "copy activity for population data set",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.00:05:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "AzureBlobStorageReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".txt"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "popultaion_by_age_gz_ds",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "population_by_age_raw_ds",
									"type": "DatasetReference"
								}
							]
						},
						{
							"name": "Delete source file",
							"type": "Delete",
							"dependsOn": [
								{
									"activity": "Copy population data_copy1",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataset": {
									"referenceName": "popultaion_by_age_gz_ds",
									"type": "DatasetReference"
								},
								"logStorageSettings": {
									"linkedServiceName": {
										"referenceName": "covidanalysissa2134_ls",
										"type": "LinkedServiceReference"
									},
									"path": "population"
								},
								"enableLogging": true,
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								}
							}
						}
					]
				}
			}
		],
		"concurrency": 1,
		"annotations": [],
		"lastPublishTime": "2021-08-19T14:48:42Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}